.primaryContainer {
    height: calc(100vh - 100px);
    width: 100%;
}

.contentContainer {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
}

.nameContainer {
    width: 100%;
    height: fit-content;
}

.subTextContainer {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: -20px;
}

.nameImg {
    width: 100%;
}

.subText {
    font-size: 29px;
}

.arrowContainer {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;

    margin-top: -35px;
}

.arrow {
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}

.arrow:hover {
    transform: translateY(5px);
}