.workContainer {
    width: 100%;
    height: fit-content;

    margin-top: 100px;
}

.descText {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    font-size: 18px;
    text-align: left;
    display: block;
}

.linkIcon {
    text-align: left;
    display: block;
    text-decoration: none;
}

.linkIcon:hover {
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

@media (max-width: 680px) {

    .descText {
        text-align: center;
    }

    .link {
        text-align: center;
        margin: 0 auto;
    }
}