.modalDiv{
    position: fixed;
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.718);
}

.menuDiv {
    height: 100%;
    margin-top: 2px;
    width: fit-content;
    margin-left: auto;
    padding-left: 25px;
    border-left: 2px solid;
    transition: all 0.4s ease-in-out;
}

.menuSpacer {
    height: 20px;
}

.navAnchor {
    display: block;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 40px;
    text-decoration: none;
}

.navAnchor:hover {
    text-decoration: underline;
    cursor: pointer;
}